::deep .mud-layout {
    --mud-appbar-height: 4.5rem;
    --mud-app-bar-padding: 0rem 1rem;
    --mud-app-bar-color: rgba(24,6,12,0.8);
}

::deep .mud-app-bar {
    background-color: var(--mud-app-bar-color);
    backdrop-filter: blur(0.25rem);
    padding: var(--mud-app-bar-padding);
}

::deep .mud-toolbar-gutters {
    padding: 0 !important;
}

::deep .mud-main-content {
    min-height: calc(100vh);
    min-height: calc(100lvh);
    height: calc(100vh);
    height: calc(100lvh);

}

::deep #blazor-error-ui {
    background-color: indianred !important;
}
